@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --foreground: 23 23 23;
        --foreground-muted: 82 82 82;
        --background: 250 250 250;
        --background-glass: 250 250 250;
        --background-glass-accent: 86 86 86;
        --border: 82 82 82;
        --background-gradient: linear-gradient(123.56deg, rgb(249 249 249), rgb(196 196 196));
    }

    .dark {
        --foreground: 250 250 250;
        --foreground-muted: 229 229 229;
        --background: 23 23 23;
        --background-glass: 10 10 10;
        --background-glass-accent: 222 222 222;
        --border: 176 176 176;
        --background-gradient: linear-gradient(130deg, rgb(45 45 45), rgb(17 17 17));
    }
}


@layer base {
    * {
        @apply border-border outline-border;
    }

    body {
        @apply bg-background text-foreground;
        background-image: var(--background-gradient);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.shiny-effect {
    position: relative;
    overflow: hidden;
}

.shiny-effect::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    top: calc(var(--y, 0) * 1px - 50px);
    left: calc(var(--x, 0) * 1px - 50px);
    opacity: 0;
    transition: opacity 0.2s;
    background: radial-gradient(white, #3984ff00 80%);
}

.shiny-effect:hover::after {
    opacity: 0.3;
}