@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-url: url('https://images.unsplash.com/photo-1653972233499-eaad56990299?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3132&q=80');
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 210, 87, 255;
    --background-end-rgb: 64, 83, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-url: url("https://images.unsplash.com/photo-1541194577687-8c63bf9e7ee3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80");
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background-image: var(--background-url);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.shiny-effect {
    position: relative;
    overflow: hidden;
}

.shiny-effect::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    top: calc(var(--y, 0) * 1px - 50px);
    left: calc(var(--x, 0) * 1px - 50px);
    opacity: 0;
    transition: opacity 0.2s;
    background: radial-gradient(white, #3984ff00 80%);
}

.shiny-effect:hover::after {
    opacity: 0.3;
}
